<html>
    <body>
        <center>
            <h1> Welcome to Bank Churn Modelling Dashboard </h1>
            <br><hr><hr><br><br>
            Please enter user details here to get the prediction.
            <br>
            <form action="/predict" method="post">
                CreditScore: <input type="text" name="cs"><br>
                Geography: <input type="text" name="geo"><br>
                Gender: <input type="text" name="gender"><br>
                Age: <input type="text" name="age"><br>
                Balance: <input type="text" name="bal"><br>
                NumOfProducts: <input type="text" name="nop"><br>
                IsActiveMember: <input type="text" name="isam"><br>
                <input type="submit">
            </form>
            <br><br><hr><p>Designed by BootUP </p><hr><br>
        </center>
    </body>
</html>
            